$qs-primary-color: #607d8b !default;
$qs-accent-color: #009688 !default;
$mat-custom-color: #ffffff;
$v-unit-size: 45px;

$v-focus-color: $qs-accent-color !default;
@import "../material/material.scss";
@import "basics/color.scss";
@import "basics/fonts.scss";
@import "basics/basics.scss";
@import "qs-material/navigation.scss";
@import "qs-material/layout.scss";
@import "qs-material/animations.scss";
@import "qs-material/input.scss";
@import "qs-material/pager.scss";
@import "qs-material/stepper.scss";
@import "qs-material/desktop.scss";
@import "qs-material/mobile.scss";
@import "qs-material/buttons.scss";
@import "qs-material/scrollbar.scss";
@import "qs-material/loader.scss";
@import "qs-material/login.scss";
@import "qs-components.scss";
@mixin quick-start-material {
    @include material;
    @include color;
    @include basics;
    @include input;
    @include buttons;
    @include qs-components;
    @include fonts;
    @include navigation;
    @include layout;
    @include desktop;
    @include mobile;
    @include animations;
    @include stepper;
    @include login;
    @include scrollbar;
    @include pager;
}