$qs-login-animation-time: 2s !default;
@keyframes headerFrames {
  0% {
    opacity: 0;
    transform: translate(0px, 150px);
  }
  3% {
    opacity: 1;
    transform: translate(0px, 150px);
  }
  25% {
    transform: translate(0px, 150px);
    margin-bottom: 0px;
    margin-left: -0px;
  }
  66% {
    transform: translate(0px, 0px);
    margin-bottom: -96px;
    margin-left: -60px;
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
    margin-bottom: -96px;
    margin-left: -60px;
  }
}

@keyframes headerColorFrames {
  0% {
    color: white;
  }
  3% {
    color: white;
  }
  25% {
    color: white;
  }
  50% {
    color: $qs-accent-color;
  }
  100% {
    color: $qs-accent-color;
  }
}

@keyframes backgroundFrames {
  0% {
    background: $qs-primary-color;
  }
  30% {
    background: $qs-primary-color;
  }
  100% {
    background: transparent;
  }
}

@keyframes formFrames {
  0% {
    opacity: 0;
    transform: translate(150px, 0px);
  }
  33% {
    opacity: 0;
    transform: translate(150px, 0px);
  }
  66% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@mixin animations {
  .background-animation {
    animation: backgroundFrames ease $qs-login-animation-time;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
  }
  .text-header-animation {
    animation: headerColorFrames ease $qs-login-animation-time;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    color: $qs-accent-color;
  }
  .header-animation {
    animation: headerFrames ease $qs-login-animation-time;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
  }
  .form-animation {
    animation: formFrames ease $qs-login-animation-time;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
  }
  .animate-in-slide-down {
    animation: valo-animate-in-slide-down 1s;
  }
  .animate-in-fade {
    animation: valo-animate-in-fade 1s;
  }
  .opacity-animation {
    transition: opacity 0.3s;
    opacity: 1.0;
  }
  .invisible {
    pointer-events: none;
    opacity: 0.0;
  }
}