@mixin floating-button-style {
    position: relative;
    border-radius: 50%;
    background-color: $qs-accent-color;
    border-color: transparent;
    background-image: none;
    border: none !important;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: max-height 3s, max-width 3s, box-shadow 0.5s, transform 0.3s;
    transition-delay: 0.1s;
    transform: scale(1.0);
    &:after {
        border-color: unset !important;
        box-shadow: unset !important;
        border: none !important;
    }
    &:active:after {
        background-color: unset;
    }
    &:hover:after {
        background-color: unset;
    }
    &:hover {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }
}

body:not(.v-touch) .v-button:not(.borderless):not(.contrast).border.primary:hover,
body.v-touch .v-button:not(.borderless):not(.contrast).border.primary:active {
    color: valo-font-color($qs-accent-color, 1);
    background: $qs-accent-color !important;
}

@mixin buttons {
    .v-button:not(.border):not(.contrast):not(.borderless).secondary, .v-textfield.floating.secondary {
         background: $qs-primary-color;
         @extend .qs-primary-contrast-color;
    }
        .v-button:not(.border):not(.contrast):not(.borderless).primary, .v-textfield.floating.primary {
             background: $qs-accent-color;
             @extend .qs-accent-contrast-color;
        }

    .v-textfield:not(.floating).secondary {
         border-color: $qs-primary-color;
         @extend .qs-primary-contrast-color;
    }
    .v-button:not(.borderless):not(.border).secondary.contrast {
         color: $qs-primary-color;
         background: $qs-primary-contrast-color;
    }
    .v-button.secondary.borderless.contrast {
         color: $qs-primary-contrast-color;
    }
     .v-button.secondary.borderless.contrast:hover {
         color: $qs-primary-contrast-color;
         background: mix(rgba(0,0,0,0),$qs-primary-contrast-color,0.8);
    }
    .v-button.primary.borderless.contrast {
         color: $qs-accent-contrast-color;
    }
     .v-button.primary.borderless.contrast:hover {
         color: $qs-accent-contrast-color;
         background: mix(rgba(0,0,0,0),$qs-accent-contrast-color,0.8);
    }
    .v-button:not(.borderless):not(.border):not(.contrast).secondary, .v-textfield.floating.secondary {
          background: $qs-primary-color;
          @extend .qs-primary-contrast-color;
     }
    .v-button:not(.borderless):not(.contrast).border.secondary {
        border-color: $qs-primary-color;
        color: $qs-primary-color;
    }
    .v-button:not(.borderless):not(.contrast).border.primary {
         border-color: $qs-accent-color;
        color: $qs-accent-color;
    }

   .v-button:not(.borderless).contrast.border.secondary {
        background: transparent;
        border-color: white;
        color: white;
    }

    .v-button:not(.borderless).contrast.border.primary {
         border-color:  $qs-primary-contrast-color;
        color: $qs-primary-contrast-color;
    }
   .v-button:not(.borderless).contrast.border.secondary:hover {
         background: white !important;
        color: $qs-primary-color;
    }
    .v-button:not(.borderless).contrast.border.primary:hover {
         background: $qs-accent-contrast-color;
        color: $qs-accent-color;
    }


    .v-textfield:not(.floating).secondary {
         border-color: $qs-primary-color;
         @extend .qs-primary-contrast-color;
    }


    // Menu Button Styling + removal of Vaadin button Styling
    .tab {
        border: 0px;
        border-bottom: 2px solid;
        border-radius: 2px;
        border-color: transparent;
        transition: border 0.7s, color 0.7s, text-shadow 0.7s, background-color 0.7s;
        line-height: 40px;
        color: valo-font-color($qs-primary-color, 1.0);
        padding: 0 12px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.2) !important;
        }
        &:hover:after {
            background-color: unset !important;
        }
        & .v-button:hover:after {
            background-color: unset !important;
        }
    }
    .tab-active {
        border-bottom-color: white;
        &:after {
            border: none;
        }
    }
}