
@keyframes dot-animation {
    0% {
        transform: scale(1.0);
        background-color: rgba(0, 0, 0, 0.3);
    }
    100% {
        transform: scale(1.3);
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
    }
}

.v-app,
.v-app-loading {
    background-color: $theme-background-color !important;
}

@mixin layout {
    .primary-background {
        background: $qs-primary-color;
    }
    .navigation {
        @extend .color-white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
        background: $qs-primary-color;
        overflow: visible;
        position: relative;
        z-index: 1;
    }
    .background {
        @extend .color-white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
        background: $qs-primary-color;
        z-index: -1;
    }
    .opacity-transition {
        animation: valo-animate-in-fade 1s;
    }
    .floating-bottom {
        margin-top: 76px;
        margin-bottom: 7px;
    }
    .floating-left {
        margin-left: -80px;
        margin-bottom: 10px;
    }
    .v-caption-inline-icon span.v-icon {
        left: unset;
        bottom: unset;
    }
    .min-width {
        min-width: 600px;
    }
    .full-width {
        width: 100%;
    }
    .qs-error-label {
        color: red;
    }
}