@mixin qs-csslayout {
    .v-csslayout.flex-row {
         display: flex;
          flex-direction: row;
    }
    .v-csslayout.flex-collumn {
        display: flex;
        flex-direction: column;
    }
    .v-csslayout.flex-row > .grow,
    .v-csslayout.flex-collumn > .grow {
         flex: 1 0%;
    }
    .v-csslayout.center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}