@mixin qs-menubar {
    .float-icon-right > .v-menubar-menuitem > .v-menubar-menuitem-caption > .v-icon {
        float: right;
        margin-left: 6px;
    }
    .v-menubar.round-image {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 100%;
        background: red;
        margin: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    }
    .v-menubar.round-image:after {
        display: none;
    }
    .v-menubar.round-image .v-menubar-menuitem-selected {
        background: transparent;
        border: none;
        box-shadow: none;
    }
    .v-menubar.round-image > .v-menubar-menuitem:focus:before {
        background-color: transparent;
    }
}