@mixin qs-menubar {
    .float-icon-right > .v-menubar-menuitem > .v-menubar-menuitem-caption > .v-icon {
        float: right;
        margin-left: 6px;
    }
    .v-menubar.round-image {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 100%;
        background: red;
        margin: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    }
    .v-menubar.round-image:after {
        display: none;
    }
    .v-menubar.round-image .v-menubar-menuitem-selected {
        background: transparent;
        border: none;
        box-shadow: none;
    }
    .v-menubar.contrast .v-menubar-menuitem {
        color: $qs-primary-contrast-color !important;
    }
    .v-menubar.contrast .v-menubar-menuitem:hover {
         background: rgba(255, 255, 255, 0.2) !important;
    }
    .v-menubar.tab-bar {
        height: 50px;
        line-height: 50px;
        padding: 0px;
    }
    .v-menubar.tab-bar .v-menubar-menuitem {
        margin: 0px;
        color: rgba(255,255,255,0.8) !important;
        transition: color 0.7s, background-color 0.7s;
        text-transform: uppercase;
    }
     .v-menubar.v-menubar.tab-bar .v-menubar-menuitem-active {
            color: $qs-primary-contrast-color !important;
      }
    .v-menubar.tab-bar .v-menubar-menuitem:hover {
        background: transparent !important;
        color: $qs-primary-contrast-color !important;
    }
    .v-menubar.tab-bar > .v-menubar-menuitem-selected {
        background-color: rgba(255, 255, 255, 0.2) !important;
        background-image: none;
    }
    .v-menubar.round-image > .v-menubar-menuitem:focus:before {
        background-color: transparent;
    }
    .v-menubar.tab-bar .v-menubar-menuitem:after {
        position: absolute;
        border-bottom: 2px white solid;
        width: 100%;
        height: 100%;
        left: 0px;
        content: "";
        transition: opacity 0.3s;
        opacity: 0;
    }
    .v-menubar.tab-bar .v-menubar-menuitem-active:after {
        opacity: 1;
        animation: valo-animate-in-fade 1s;
    }
}