@mixin qs-upload {
    .v-upload.upload-inline-icon .v-button {
        padding-left: 40px;
    }
    .v-caption-upload-inline-icon {
       margin-left: 14px;
       position: absolute;
       top: 14px;
       color: white;
       position: absolute;
    }
}