

@function set-text-color($color) {
    @if (lightness( $color) > 50) {
        //@return #000000; // Lighter color, return black
        @return darken($color, 5%)
    }
    @else {
        //@return #FFFFFF; // Darker color, return white
        @return lighten($color, 15%)
    }
}

@mixin floating-button-style {
    position: relative;
    border-radius: 50%;
    background-color: $mat-accent-color;
    border-color: transparent;
    background-image: none;
    border: none !important;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: max-height 3s, max-width 3s, box-shadow 0.5s, transform 0.3s;
    transition-delay: 0.1s;
    transform: scale(1.0);
    &:after {
        border-color: unset !important;
        box-shadow: unset !important;
        border: none !important;
    }
    &:active:after {
        background-color: unset;
    }
    &:hover:after {
        background-color: unset;
    }
    &:hover {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }
}

@mixin buttons {

    // Menu Button Styling + removal of Vaadin button Styling
    .tab {
        @include true-borderless;
        border: 0px;
        border-bottom: 2px solid;
        border-color: transparent;
        transition: border 0.7s, color 0.7s, text-shadow 0.7s, background-color 0.7s;
        line-height: 40px;
        color: valo-font-color($mat-primary-color, 1.0);
        padding: 0 12px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.2) !important;
        }
        &:hover:after {
            background-color: unset !important;
        }
        & .v-button:hover:after {
            background-color: unset !important;
        }

    }
    .tab-active {
        border-bottom-color: white;
        &:after {
            border: none;
        }
    }

    .register-button {
        height: 40px;
        line-height: 40px;
        color: $mat-primary-color;
        background: $mat-primary-contrast-color;
        border-radius: 3px;
        transition: background-color 0.3s ease;
    }
    .register-button:hover {
        background: set-text-color($mat-primary-contrast-color) !important;
    }
    .sign-in-button {
        height: 40px;
        line-height: 40px;
        border-radius: 3px;
        border: 1px solid $mat-primary-contrast-color;
        transition: background-color 0.3s ease;
    }
    .sign-in-button:hover {
        background: set-text-color($mat-primary-color) !important;
    }

        .mobile-context-button {
            @include floating-button-style;
            width: 48px;
            height: 48px;
        }
        .context-button {
            @include floating-button-style;
            color: valo-font-color($mat-accent-color, 1.0);
            width: 55px;
            height: 55px;
            animation: scale 0.7s;
        }
}