@media (max-device-width: 500px) {
    .login-window {
        width: 100%;
        text-align: center;
        padding: 20px;
        background: white;
    }
    .login-window-wrapper {
        width: 100%;
        text-align: center;
    }
}

@media (min-device-width: 501px) {
    .login-window {
        border-radius: 2px;
        background: white;
        padding: 20px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    .login-window-wrapper {text-align: center;}
}

@media (min-device-width: 800px) {
    .login-window {
        padding: 20px;
    }
}
@mixin login {
     .login-background {
            background-image: $mat-background-image;
            background-position: center;
            background-size: cover;
        }
        .login-margin-bottom {
            margin-bottom: 4vh;
        }

    .login-icon {
        margin-right: 15px;
        background: $mat-icon-image;
        background-position: center;
        background-size: cover;
    }
    .register-button {
        height: 40px;
        line-height: 40px;
        color: $qs-primary-color;
        background: $qs-primary-contrast-color;
        border-radius: 3px;
        transition: background-color 0.3s ease;
    }
    .register-button:hover {
        background: set-text-color($qs-primary-contrast-color) !important;
    }
    .sign-in-button {
        height: 40px;
        line-height: 40px;
        border-radius: 3px;
        border: 1px solid $qs-primary-contrast-color;
        transition: background-color 0.3s ease;
    }
    .sign-in-button:hover {
        background: set-text-color($qs-primary-color) !important;
    }
}