 @mixin mobile {
     .menu {
         box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
         height: 92vh;
     }
      .mobile-searchbar {
             background: white;
             padding-left: 20px;
             padding-right: 20px;
         }
     .mobile-navigation {
         @extend .navigation;
         height: 8vh !important;
         position: fixed;
         z-index: 2;
     }

     .menu-wrapper {
          // If you wonder why this exact number -> due to .v-grid horizontal scrollbar
          z-index: 91;
          overflow: hidden;
          transition: transform 0.7s, width 0.7s;
          margin-right: -50px;
          height: 92vh;
          position: fixed;
          top: 60px;
      }
     .menu-hidden {
         transform: translate(-300px, 0px);
         width: 0px !important;
     }
     .menu-show {
         transform: translate(0px, 0px);
         width: 300px !important;
     }

    .mobile-context-button-container {
        max-height: 300px;
        transition: max-height 0.6s ease;
        overflow: hidden;
        position: fixed;
        right: 10px;
        bottom: 10px;
    }

    .mobile-context-button-container .display-none {
        max-height: 0px;
    }

    .mobile-context-button-container-container {
    @extend .mobile-context-button-container;
        bottom: 40px;
        text-align: center;
        padding-bottom: 45px;
    }

     .mobile-tab2 * .FontAwesome {
         width: 30px;
     }
     .mobile-tab2 {
         @include true-borderless;
         @extend .qs-primary-contrast-color;
         text-align: left;
     }
     .mobile-tab * .FontAwesome {
         width: 30px;
     }
     .mobile-tab {
         @include true-borderless;
         @extend .qs-primary-contrast-color;
         border-color: transparent;
         text-align: left;
     }
     .mobile-tab:focus {
         @extend .qs-accent-color;
         @extend .qs-primary-contrast-background-color;
     }
     .mobile-tab-active {
         @extend .qs-accent-color;
         @extend .qs-primary-contrast-background-color;
         &:after {
             border: none;
         }
     }
     .mobile-context-button {
         @include floating-button-style;
         width: 48px;
         height: 48px;
     }
     .context-button {
         @include floating-button-style;
         color: valo-font-color($qs-accent-color, 1.0);
         width: 55px;
         height: 55px;
         animation: scale 0.7s;
     }
     .mobile-top-bar{
        position: fixed;
        z-index: 92;
        overflow: visible;
     }
    .mobile-content-wrapper {

    }
    .mobile-component-holder {
        padding: 8px;
        margin-top: 60px;
    }
    .mobile-content-wrapper > .v-expand > .v-slot {
        margin: 0px !important;
    }
    .mobile-content-wrapper > .v-expand {
        padding: 0px !important;
    }
    .mobile-wrapper{
        overflow-y:inherit !important;
    }
    .mobile-wrapper > div > .v-absolutelayout-margin{
        overflow-y: inherit !important;
    }
    .display-none {
        > div > .mobile-context-button-container > div > .mobile-context-button {
            transform: scale(0.0);
        }
        > div > .mobile-context-button {
            transform: scale(0.0);
        }
        > div > .context-button {
            transform: scale(0.0);
        }
    }
}