@mixin scrollbar {
    :not(.v-grid-scroller)::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    :not(.v-grid-scroller)::-webkit-scrollbar-track {
        background: rgba(128, 128, 128, 0.3);
    }
    :not(.v-grid-scroller)::-webkit-scrollbar-thumb {
        background: rgba(128, 128, 128, 0.8);
    }
}