@mixin pager {
    .absolute-overflow-visible > div > div {
        overflow: visible !important;
    }
    .pager-right-button:hover {
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }
    .pager-left-button {
        @include floating-button-style;
        color: valo-font-color($qs-accent-color, 1.0);
        margin: 0px;
        width: 50px;
        height: 50px;
    }
    .pager-left-button:hover {
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }
    .pager-content {
        margin: 25px;
        animation: valo-animate-in-slide-left 1s, valo-animate-in-fade 1s ease;
    }
    .paging-indicator {
        margin: 7px !important;
        width: 9px !important;
        height: 9px !important;
        background: #fafafa !important;
        border-radius: 100% !important;
        padding: 0px !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
        transition: transform 0.5s !important;
    }
    .paging-indicator-active {
        transform: scale(1.4) !important;
    }
}