@mixin stepper {
    .stepper-number-wrapper {
        border: 1px solid $mat-custom-color;
        border-radius: 100%;
        text-align: center;
        font-weight: 500;
         color: $mat-custom-color;
    }
    .stepper-view >:not(:first-child) > .stepper-wrapper:before {
        content: "....";
        line-height: 40px;
        font-weight: 800;
        width: 50px;
        text-align: center;
        margin-left: -50px;
        position: fixed;
        color: $mat-custom-color;
    }
    .stepper-view > .v-spacing {
        width: 50px;
    }
    .stepper-wrapper {
        opacity: 0.4;
        transition: opacity 0.6s;
    }
    .stepper-wrapper-active {
        opacity: 1;
    }
    .stepper-name {
        text-transform: uppercase;
        font-size: small;
        height: unset !important;
        font-weight: 500;
         color: $mat-custom-color;
    }
}