

$qs-primary-contrast-color: valo-font-color($qs-primary-color, 1.0);

.v-textfield.floating::-webkit-input-placeholder {
    color: rgba($qs-primary-contrast-color, 0.7);
}


@mixin color {
    .qs-primary-color {
        color: $qs-primary-color;
    }
    .qs-primary-contrast-color {
        color: valo-font-color($qs-primary-color, 1.0);
    }
    .qs-accent-color {
        color: $qs-accent-color;
    }
    .qs-primary-contrast-background-color {
        background-color: $qs-primary-contrast-color !important;
    }
    .qs-accent-contrast-color {
        color: $qs-accent-contrast-color;
    }
    .qs-primary-border-color {
        border-color: $qs-primary-color;
    }
    .qs-accent-border-color {
        border-color: $qs-accent-color;
    }
}