$v-border-radius: 0px !default;
$v-background-color: #ffffff !default;
$v-app-background-color: #ffffff !default;
$v-gradient: v-linear 0% !default;
$v-bevel-depth: 0% !default;
$v-shadow-opacity: 10% !default;
$v-focus-color: #ffffff !default;

$mat-primary-color: #999999 !default;
$mat-accent-color: #bbbbbb !default;

$qs-primary-contrast-color: valo-font-color($mat-primary-color, 1.0);
@mixin color {
    .qs-primary-color {
        color: $mat-primary-color;
    }
    .qs-primary-contrast-color {
        color: valo-font-color($mat-primary-color, 1.0);
    }
    .qs-accent-color {
        color: $mat-accent-color;
    }
    .qs-primary-contrast-background-color {
        background-color: $qs-primary-contrast-color !important;
    }
    .qs-accent-contrast-color {
        color: valo-font-color($mat-accent-color, 1.0);
    }
    .qs-primary-border-color {
        border-color: $mat-primary-color;
    }
    .qs-accent-border-color {
        border-color: $mat-accent-color;
    }
}