<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;quick-start-material&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-horizontal-layout style-name="stepper-wrapper" height="60px">
   <vaadin-horizontal-layout style-name="stepper-number-wrapper" _id="stepNameWrapper" :middle>
    <vaadin-label style-name="stepper-number" plain-text _id="stepNumber">
      1 
    </vaadin-label>
   </vaadin-horizontal-layout>
   <vaadin-label style-name="stepper-name" height="24px" plain-text _id="stepName" :middle>
     Step Name 
   </vaadin-label>
  </vaadin-horizontal-layout>
 </body>
</html>