<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;quick-start-material&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout style-name="absolute-overflow-visible" size-full>
   <vaadin-horizontal-layout size-full :expand>
    <vaadin-horizontal-layout height-full>
     <vaadin-button icon="fonticon://Vaadin-Icons/e7b0" style-name="floating-action fade-in pager-left-button" plain-text _id="last" :middle></vaadin-button>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout size-full :expand>
     <vaadin-horizontal-layout style-name="pager-content" _id="content" :middle :center></vaadin-horizontal-layout>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout height-full>
     <vaadin-button icon="fonticon://Vaadin-Icons/e7b1" style-name="fade-in floating-action pager-right-button" plain-text _id="next" :middle :right></vaadin-button>
    </vaadin-horizontal-layout>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout width-full>
    <vaadin-horizontal-layout spacing="false" _id="pagerDots" :middle :center>
     <vaadin-horizontal-layout spacing="false" height-full :middle :center>
      <vaadin-button style-name="borderless paging-indicator" height="30px" plain-text>
        • 
      </vaadin-button>
      <vaadin-button style-name="borderless paging-indicator paging-indicator-active" height="30px" plain-text>
        • 
      </vaadin-button>
     </vaadin-horizontal-layout>
    </vaadin-horizontal-layout>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>