$v-border-radius: 0px !default;
$v-background-color: #ffffff !default;
$v-app-background-color: #ffffff !default;
$theme-primary-color: #999999 !default;
$v-gradient: v-linear 0% !default;
$v-bevel-depth: 0% !default;
$v-shadow-opacity: 10% !default;
$v-focus-color: #ffffff !default;

@mixin color {
     .primary-color {
          color: $theme-primary-color;
     }

    .primary-contrast-color {
        color: valo-font-color($theme-primary-color, 1.0);
    }

     .accent-color{
         color: $theme-accent-color;
     }

    .primary-contrast-background-color {
       background-color: $primary-contrast-background-color !important;
    }

    .primary-border-color {
        border-color: $theme-primary-color ;
    }

    .accent-border-color{
        border-color: $theme-accent-color;
    }
}