@mixin input {
    .floating-input * {
            color: red;
    }

    .floating-input {
            border-bottom: none;
            background: rgba($v-focus-color,0.2);
            border-radius: 2px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.3);
            transition: background 0.3s;
            color: red;
    }

    .floating-input::-webkit-input-placeholder {
        color: #555555;
    }
    .v-textfield[class*="prompt"] {
        color: #a3a3a3;
    }
    .floating-input:focus, .floating-input:hover {
         background: rgba($v-focus-color,1);
    }
    .no-indicator > .v-menubar-menuitem {
        width: 100%;
    }
    .no-indicator > .v-menubar-menuitem .v-icon {
        margin: unset;
    }

    .no-indicator .v-menubar-submenu-indicator + .v-menubar-menuitem-caption:after {
        display: none;
    }
}