@mixin layouts {

    .background-red {
        background: #f15d5d;
    }
    .background-green {
        background: #cddd61;
    }
    .background-yellow {
        background: #faae40;
    }
    .background-blue {
        background: #71ceed;
    }

}