$icon-image: url("img/test_icon.png") !default;
@keyframes dot-animation {
    0% {
        transform: scale(1.0);
        background-color: rgba(0, 0, 0, 0.3);
    }
    100% {
        transform: scale(1.3);
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
    }
}


.v-app,
.v-app-loading {
    background-color: $theme-background-color !important;
}

@mixin material {
    .login-icon {
        margin-left: 5px;
        margin-right: 15px;
        background: $icon-image;
        background-position: center;
        background-size: cover;
    }
    .small-icon{
        background: $icon-image;
        background-position: center;
        background-size: cover;
        margin-left: 5px;
        margin-right: 5px;
    }
    .primary-background {
        background: $theme-primary-color;
    }
    .navigation {
        @extend .color-white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
        background: $theme-primary-color;
        overflow: visible;
        position: relative;
        z-index: 1;
    }
    .background {
        @extend .color-white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
        background: $theme-primary-color;
        z-index: -1;
    }
    .menu-wrapper {
        position: relative;
        z-index: 2;
        overflow: hidden;
        transition: transform 0.7s, width 0.7s;
    }
    .menu {
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
    }
    .opacity-transition {
        animation: valo-animate-in-fade 1s;
    }

    .floating-bottom {
        margin-top: 76px;
        margin-bottom: 7px;
    }
    .floating-left {
        margin-left: -80px;
        margin-bottom: 10px;
    }
    // Material elevation levels + Hover effect for Selectable cards
    .elevation-0 {
        border-radius: 2px;
        background: white;
    }
    .elevation-1 {
        @extend .elevation-0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .selectable {
        @extend .elevation-1;
        animation: valo-animate-out-scale-down-fade 0.8s;
        animation-direction: reverse;
        transition: all 0.6s;
        animation-timing-function: ease-in;
    }
    .selectable:hover * {
        transition: color 0.6s;
    }
    .selectable:hover {
        @extend .elevation-0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        transform: scale(1.01);
    }
    .selectable:hover * {
        color: $theme-accent-color;
    }
    .elevation-2 {
        @extend .elevation-0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .elevation-3 {
        @extend .elevation-0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    .elevation-4 {
        @extend .elevation-0;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .elevation-5 {
        @extend .elevation-0;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    .v-menubar.round-image {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 100%;
        background: red;
        margin: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    }
    .v-menubar.navigation-bar {
        height: 40px;
        line-height: 40px;
    }
    .navigation-bar:not(.v-menubar-submenu) * {
        @extend .primary-contrast-color;
    }
    .v-menubar.round-image:after {
        display: none;
    }
    .v-menubar.round-image .v-menubar-menuitem-selected {
        background: transparent;
        border: none;
        box-shadow: none;
    }
    .navigation-bar .v-menubar-menuitem:hover {
        background-color: transparent;
        transition: background-color 0.7s;
    }
    .navigation-bar .v-menubar-menuitem:hover {
        background-color: rgba(255, 255, 255, 0.2) !important;
    }
    .navigation-bar > .v-menubar-menuitem-selected {
        background-color: rgba(255, 255, 255, 0.2) !important;
        background-image: none;
    }
    .v-menubar.round-image > .v-menubar-menuitem:focus:before {
        background-color: transparent;
    }
    .v-caption-inline-icon span.v-icon {
        left: unset;
        bottom: unset;
    }
    .slide-background {
        background: $theme-primary-color;
        width: 210% !important;
        background-size: cover;
        height: 70vh !important;
        margin-bottom: -63vh;
    }
    .min-width {
        min-width: 600px;
    }
    .full-width {
        width: 100%;
    }
    .slides {
        perspective: 500px;
        perspective-origin: 100% 0%;
    }
    .slide-content-container {
        transform-style: preserve-3d;
        transform: translateZ(0);
    }
    .slide-background {
        transform: translateZ(-500px) translateY(0px) translateX(-50%) scale(1.0);
    }
    .qs-error-label {
        color: red;
    }
}