@mixin upload {
    .v-caption-mobile-upload-inline-icon {
        position: relative;
        margin-left: 5px;
        line-height: 50px;
        margin-bottom: -50px;
        font-size: 16px;
    }

    .upload-inline-icon > div > div {
        padding-left: 25px;
    }
    .v-upload {
            line-height: 42px;
            padding: 0px;
    }

    .v-caption-upload-inline-icon {
        margin-left: 9px;
        line-height: 40px;
        font-size: 16px;
        color: valo-font-color($theme-primary-color, 1.0);
        position: absolute;
    }

    .upload-inline-icon > div > div {
        padding-left: 30px;
    }
}